*sec/*
*.env*
*__pycache__*
*.ipynb_checkpoints*
catboost_info/
stratbooks/
productbooks/
qa/
visual/
*.json
*./csv_files/*
*./csv_files/filings/*
*./sec_docs/*
*./sec/*
*.pdf
*./sec_docs/*
*./sec_docs
sec_docs/
csv_files/
sec/
reports/
strategy/